/* 
    Document   : styles
    Created on : Nov 21, 2014, 9:42:23 PM
    Author     : Sokolov Slava
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

h1 { color: green }

.odd-row { background-color : antiquewhite; }

.even-row { background-color : lightgray; }

.active-row {
    background-color: #FFEBDA !important;
    cursor: pointer;
}

.select-column {
    min-width: 4em;
}

.name-column {
    min-width: 16em;
}

.select-header {
    min-width: 3em;
    background-color: lightblue;
}

.name-header {
    min-width: 12em;
    background-color: lightblue;
}

.fullname-header {
    min-width: 18em;
    background-color: lightblue;
}

.type-header {
    min-width: 12em;
    background-color: lightblue;
}

.dim-header {
    min-width: 12em;
    background-color: lightblue;
}

.site-header {
    min-width: 12em;
    background-color: lightblue;
}

.rev-header {
    min-width: 12em;
    background-color: lightblue;
}

.error-message {
    color: red;
}